<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="../css/index.css">

    </head>
    <body class="bodyContainer">
        <form id = "form" >
            <label>Username</label>
            <input type="text" name="username"/>
            <label>Password</label>
            <input type="password" name="password"/>
            <input type="submit" value="Login">
        </form>
        <input id="signIn" type="button" value="Sign in"/>
        <script src="../js/logIn.js"></script>
    </body>
</html>